<nav class="woocommerce-MyAccount-navigation hero-bg p-60">
	<ul>
		<li class="is-active">
			<a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Home" asp-action="Orders">Orders</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Home" asp-action="Addresses">Addresses</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Home" asp-action="AccountD">Account details</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
		</li>
	</ul>
</nav>