<!-- main nav start -->

@model IEnumerable<Category>

				@foreach(var item in Model)
				{
					<li>
						<a asp-area="" asp-controller="Home" asp-action="ProductCategory" asp-route-id="@item.Id">@item.Name</a>
					</li>
				}
				